<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-dengage" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Dengage</name>
    <keywords>dengage,cordova-dengage</keywords>
    <repo>https://github.com/dengage-tech/dengage-cordova-sdk</repo>
    <issue>https://github.com/dengage-tech/dengage-cordova-sdk/issues</issue>
    <js-module name="DengageCR" src="www/DengageCR.js">
        <clobbers target="DengageCR"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DengageCR">
                <param name="android-package" value="DengageCR"/>
                <param name="onload" value="true"/>
            </feature>
            <preference name="AndroidXEnabled" value="true"/>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"/>
        <source-file src="src/android/DengageCR.java" target-dir="src/DengageCR"/>

        <preference name="ANDROID_FIREBASE_MESSAGING_VERSION" default="23.0.2"/>
        <preference name="ANDROID_FIREBASE_CORE_VERSION" default="20.1.2"/>
        <preference name="ANDROID_FIREBASE_FIREBASE_ANALYTICS" default="18.0.2"/>
        <preference name="ANDROID_DENGAGE_SDK" default="6.0.41.2"/>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference"/>
        <framework src="com.google.firebase:firebase-core:$ANDROID_FIREBASE_CORE_VERSION"/>
        <framework src="com.google.firebase:firebase-messaging:$ANDROID_FIREBASE_MESSAGING_VERSION"/>
        <framework src="com.google.firebase:firebase-analytics:$ANDROID_FIREBASE_FIREBASE_ANALYTICS"/>
        <framework src="com.github.dengage-tech:dengage-android-sdk:$ANDROID_DENGAGE_SDK"/>
    </platform>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="DengageCR">
                <param name="ios-package" value="DengageCR"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods>
                <pod name="Dengage" spec="~> 5.42.1"/>
            </pods>
        </podspec>


        <source-file src="src/ios/DengageCR.swift"/>
        <dependency id="cordova-plugin-add-swift-support" version="2.0.2"/>
        <preference name="UseSwiftLanguageVersion" default="5" />
    </platform>
</plugin>
